<main class="container-fluid">
  <section>
    <div class="container-fluid">
      <div class="row section-title">
        <h3 class="col-12 col-sm">Items</h3>
        <a class="btn btn-primary col-12 col-sm" [routerLink]="'create-item'">Create
          item</a>
        <input id="search" class="form-control ps-4 col-12 col-sm ms-3" placeholder="filter by name"
               [(ngModel)]="searchText">
      </div>
    </div>

    <ul class="card-list">
      <li class="card" *ngFor="let item of items$ | async | itemFilter:searchText">
        <div class="card-title">{{item.name}}</div>
        <img class="card-image" src="../../../assets/img/item-image.png" alt="item image">
        <div class="card-footer">
          <div>Price: &euro; {{item.price.price}}</div>
          <div class="stock">
            <span>{{getStockStatusValue(item)}}</span>
            <img class="icon" src="{{getStockStatusImage(item)}}" alt="warning">
          </div>
        </div>
      </li>
    </ul>
  </section>
</main>
