<main>
  <section>
    <div class="row section-title">
    <h3 class="col-4">Items</h3>
      <i class="bi bi-search"><input id="search" class="form-control col-1" placeholder="filter by name" [(ngModel)]="searchText"></i>
    </div>

    <ul class="card-list">
      <li class="card" *ngFor="let item of items$ | async | itemFilter:searchText">
        <div class="card-title">{{item.name}}</div>
        <img class="card-image" src="../../../assets/img/item-image.png" alt="item image">
        <div class="card-footer">
          <div>Price: &euro; {{item.price.price}}</div>
          <div class="stock">
            <span>{{getStockStatusValue(item)}}</span>
            <img class="icon" src="{{getStockStatusImage(item)}}" alt="warning">
          </div>
        </div>
      </li>
    </ul>
  </section>
</main>
